[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
mlflow = "==2.14.2"
scikit-learn = "==1.5.1"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
