data
envs
key-pairs
models
unused
zmcp

03-orchestration/mage_data
03-orchestration/mlflow
03-orchestration/mlops
04-model-deployment/deploy
04-model-deployment/model_scoring/aws.env
05-model-monitoring/data
05-model-monitoring/workspace

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__