data
envs
key-pairs
models
unused
zmcp

03-orchestration/mage_data
03-orchestration/mlflow
03-orchestration/mlops
04-model-deployment/deploy
04-model-deployment/model_scoring/aws.env
05-model-monitoring/data
05-model-monitoring/workspace
# 06-best-practices/code
06-best-practices/hw6/output
project/frontend/node_modules
project/backend/.venv
project/backend/.env
project/backend/mlartifacts
project/backend/mlruns

.DS_Store
*/.DS_Store
*/*/.DS_Store

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/.pytest_cache